body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}


h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  font-family: 'Montserrat'

}



/* Navigation bar */
.navbar-brand {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 2.5rem;
}
.navbar {
  padding: 0 0 4.5rem;
}
.nav-item{
  padding: 0 18px;
}

.download-button {
  margin: 5% 3% 5% 0;
}
/* Title */
.container-fluid {
  padding: 3% 15% 7%;
}

#title {
  background-color: #ff4c68;
  color: white;
}

.title-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.mobile {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .mobile {
    position: static;
    transform: rotate(0);
  }
}




/* Features */
#features {
  padding: 7% 15%;
  color: #8f8f8f;
  background-color: #fff;
  position: relative;
  text-align: center;
}
.feature-font {
  color: #000;
  font-size: 1.5rem;
}
.feat-img {
  color: #ef8172;
  font-size: 5.23rem;
  margin-bottom: 10%;
}
.feat-img:hover {
  color:#ff4c68;
}
.feat-col {
  padding: 2%;
}

/* Testimony */
#testimonials {

  text-align: center;
  background-color: #ef8172;
  color: #ffff;
}
.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%

}
.carousel-item{
  padding: 7% 15%;
}
/* press */
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
/* #press:hover{
  background-color: #ff4c68; */


.press-image {
  width: 10%;
  margin: 20px 30px 50px;
}
/* Pricing */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 35 2%;
}
/* Call to Action */

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}


/* footer */
#footer {
  padding: 8% 30% 2%;
  text-align: center;
}
.footer-logo {
  padding: 2%;
}
.footer-para{
  padding-top: 3%;
  color:#d0a2a8;
}
